
<h1>Ingrese a su cuenta</h1>

<form class="formulario">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="usuario">Usuario</label>
        <input type="text" id="username" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="contrasenia">Contraseña</label>
        <input type="password" id="contrasenia" class="form-control" />
        
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="recordarme" checked />
                <label class="form-check-label" for="recordarme"> Recordarme </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">¿Te olvidaste la contraseña?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>¿No tienes un usuario? <a href="#!">¡Regístrate!</a></p>
    </div>
</form>
