@using practica2.Models
@model Producto


    

<h1>@this.Model.nombre</h1>


<div class="row">
    <div class="col-sm-6">
        <img src=@this.Model.imagen />
    </div>
    <div class="col-sm-6">
        @foreach( var text in this.Model.descripcion.Split("\r")){
         <p class="text-black descripcion">@text</p>
        }
        <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-outline-success botonCompra">Comprar</a>
     </div>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $parrafo = $('.descripcion');
            var text = $parrafo.text();
        $parrafo.text(text.replace(\r\n, '<br>'));
        })
    </script>*@

